body {
  background-color: #000;
  -webkit-transition: color 400ms ease, background-color 400ms ease;
  transition: color 400ms ease, background-color 400ms ease;
  font-family: Euclid;
  color: #fff;
  font-size: 1vw;
  line-height: 1.6;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0.4em;
  font-size: 4em;
  line-height: 1.4;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7em;
  line-height: 0.9;
  font-weight: 500;
  letter-spacing: -0.05em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.7em;
  line-height: 1.4;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3em;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.85em;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em 2em;
  border-left: 0.4em solid #e2e2e2;
  font-size: 140%;
  line-height: 1.6;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 3em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container.is--nav {
  padding-top: 3.7em;
  padding-bottom: 3.7em;
}

.container.is--title {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5em 1em 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.section {
  background-color: #000;
}

.section.is--hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.box {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
  width: 20em;
  height: 20em;
  margin-top: 0vh;
  margin-left: -5.8em;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 50%;
  background-color: #1f1f1f;
  background-image: url('../images/mark-zuravski-MmC7VSkNTwI-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.box.is--2 {
  z-index: 3;
  margin-top: 15vh;
  margin-left: 9em;
  background-image: url('../images/Kalvin-Hom.JPG');
}

.box.is--3 {
  z-index: 4;
  margin-top: 97vh;
  margin-left: 47.6em;
  background-image: url('../images/small2_Wyatt-Peterson.jpg');
}

.box.is--4 {
  z-index: 5;
  margin-top: 9vh;
  margin-left: 68.3em;
  background-image: url('../images/small_Terry-J-Martin_web_1014.jpg');
}

.box.is--5 {
  z-index: 6;
  margin-top: 70vh;
  margin-left: 74.1em;
  background-image: url('../images/small_Margaret-Huang_2-1_web_1008.jpg');
}

.box.is--6 {
  z-index: 7;
  margin-top: 75vh;
  margin-left: 20.6em;
  background-image: url('../images/small_Nick-Price_4-1_web_1088.jpg');
}

.box.is--7 {
  z-index: 8;
  display: none;
  margin-top: 43vh;
  margin-left: 45.7em;
  background-image: url('../images/Cole-Becker.JPG');
}

.box.is--1 {
  z-index: 2;
  background-image: url('../images/small_Britt-Mumma_2-1_web_1020.jpg');
}

.alt {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2000;
  display: none;
  background-color: #fff;
  background-image: url('../images/pexels-cup-of-couple-8473863.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.work {
  position: relative;
  width: 100%;
  height: 150vh;
}

.is--work {
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.box_link {
  display: none;
}

.nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5000;
}

.press {
  display: none;
  padding: 1em 2.1em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.29);
  border-radius: 0vw;
  background-color: #000;
  color: #fff;
  font-size: 10px;
}

.press_icon {
  width: 2em;
  height: 2em;
  margin-right: 0.7em;
}

.press_text {
  font-family: HelvNeu, sans-serif;
  font-weight: 300;
}

.logo {
  color: #fff;
}

.heading {
  font-family: HelvNeu, sans-serif;
  font-size: 831%;
  line-height: 98%;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.paragraph {
  width: 20em;
  margin-top: 11px;
  font-family: HelvNeu, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.header-div {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -0.2em;
  margin-right: 1em;
  margin-left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.99em;
}

.logo-length {
  width: 32em;
}

.link {
  margin-left: 0.8em;
  font-family: HelvNeu, sans-serif;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  text-decoration: underline;
  text-transform: none;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  margin-left: 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 1.5vw;
  }

  p {
    font-size: 15px;
  }

  .container {
    padding-right: 3em;
    padding-left: 3em;
  }

  .box.is--3 {
    margin-top: 89vh;
    margin-left: 42.1em;
  }

  .box.is--4 {
    margin-top: 20vh;
    margin-left: 34.5em;
  }

  .box.is--5 {
    margin-top: 58vh;
    margin-left: 9.2em;
  }

  .box.is--6 {
    margin-top: 106vh;
    margin-left: 19.1em;
  }

  .box.is--7 {
    margin-top: 52vh;
    margin-left: 49.9em;
  }

  .box.is--1 {
    margin-left: -1.5em;
  }

  .logo {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 2vw;
  }

  .container.is--title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .box.is--3 {
    margin-top: 68vh;
    margin-left: 23.6em;
  }

  .box.is--4 {
    margin-top: 36vh;
    margin-left: 32.6em;
  }

  .box.is--5 {
    margin-top: 51vh;
    margin-left: 6em;
  }

  .box.is--6 {
    margin-top: 98vh;
    margin-left: 25em;
  }

  .box.is--7 {
    margin-top: 110vh;
    margin-left: 3.6em;
  }

  .press {
    margin-top: 2em;
  }

  .heading {
    font-size: 400%;
  }

  .paragraph {
    width: 30em;
    margin-bottom: 11px;
    font-size: 1.5em;
  }

  .link {
    font-size: 1.5em;
  }

  .div-block-2 {
    margin-left: -10px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 2.5vw;
  }

  .box.is--3 {
    margin-top: 64vh;
    margin-left: 18em;
  }

  .box.is--4 {
    margin-left: 22.3em;
  }

  .box.is--5 {
    margin-top: 47vh;
    margin-left: 2.5em;
  }

  .box.is--6 {
    margin-top: 85vh;
    margin-left: 2.4em;
  }

  .box.is--7 {
    margin-top: 103vh;
    margin-left: 16.5em;
  }

  .press {
    font-size: 7px;
  }

  .heading {
    font-size: 936%;
  }

  .paragraph {
    width: 19.1em;
    font-size: 1.9em;
  }

  .link {
    font-size: 1.9em;
  }
}

@font-face {
  font-family: 'HelvNeu';
  src: url('../fonts/HelveticaNeueLight.woff') format('woff'), url('../fonts/HelveticaNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelvNeu';
  src: url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}